---
name: Test This Action

on:
  pull_request:
    branches:
      - main

jobs:
  strategy:
    fail-fast: false
    max-parallel: 2
    matrix:
      package:
        - name: aragog
          pkg_root: ./tests/packages/aragog
          template_path: ./template.Rmd
          report_format: pdf
        - name: buckbeak
          pkg_root: ./tests/packages/buckbeak
          template_path: ./tests/packages/buckbeak/validation-template.Rmd
          report_format: html

  test:
    runs-on: ubuntu-latest
    name: ${{ matrix.package.name }}

    steps:
      - name: Checkout ${{ matrix.package.name }}
        uses: actions/checkout@v2

      - name: Generate validation report for ${{ matrix.package.name }}
        uses: ./
        with:
          pkg_root: ${{ matrix.package.pkg_root }}
          template_path: ${{ matrix.package.template_path }}
          report_format: ${{ matrix.package.report_format }}

      - name: Upload ${{ matrix.package.name }} validation report
        uses: actions/upload-artifact@v2
        if: success()
        with:
          name: ${{ matrix.package.name }} validation report
          path: ${{ matrix.package.pkg_root }}/validation-report.${{ matrix.package.report_format }}
          if-no-files-found: error
