---
name: Test This Action

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    name: ${{ matrix.package.name }}
    container:
      image: rocker/verse:4.3.3
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        package:
          - name: aragog
            report_pkg_dir: ./tests/packages/aragog
            report_template_path: ./template.qmd
          - name: buckbeak
            report_pkg_dir: ./tests/packages/buckbeak
            report_template_path: ./tests/packages/buckbeak/validation-template.qmd

    steps:
      - name: Checkout ${{ matrix.package.name }}
        uses: actions/checkout@v4

      - name: Generate validation report for ${{ matrix.package.name }}
        id: validation
        uses: ./
        with:
          report_pkg_dir: ${{ matrix.package.report_pkg_dir }}
          report_template_path: ${{ matrix.package.report_template_path }}

      - name: Upload ${{ matrix.package.name }} validation report
        uses: actions/upload-artifact@v4
        if: success()
        with:
          name: ${{ matrix.package.name }} validation report
          path: validation_report.pdf
          if-no-files-found: error
